*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 16px;
    /*
    1 rem = 16px
    2 rem = 32px
    0.5 rem = 8px
    */

    scroll-behavior: smooth;
}

body{
    line-height: 1.6;
    -webkit-font-smoothing: antialiased; /*for safari, chrome, edge*/
    -moz-osx-font-smoothing: graysacle;/*for firefox*/

}

img,
video,
picture,
canvas,
svg{
    display: block;
    max-width: 100%;
    height: auto;
}
input,
button,
textarea,
select{
    font: inherit;
}

button{
    cursor: pointer;
    background: none;
    border:none;

}

a{
    text-decoration: none;
    color: inherit;
}

ul,
ol{
    list-style: none;
}
